* {
  /* font-family: Poppins, sans-serif; */
}

.transaction .main-nav {
  background-color: #fff;
  padding: 0 10px;
}

.price-box {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.price-box span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  padding: 0 5%;
  margin: 0 auto;
}

.menu > li > a {
  padding: 1.96rem 1.5rem;
}

.header {
  padding-bottom: 0rem;
}

@media (min-width: 992px) {
  .order-lg-first {
    -ms-flex-order: 1;
    order: 1;
  }
}

.custom-control-label {
  margin-left: 1.6rem;
}

.transaction-img {
  max-width: 40%;
  width: 40%;
  display: block;
  margin: 0 auto;
}

.transaction-img img {
  border-radius: 50%;
}

.transaction-qty {
  color: #777;
}

@media screen and (max-width: 991px) {
  .header-bottom {
    display: block !important;
  }
}

.mobile-menu-toggler .icon-menu {
  font-size: 22px;
}

a.menu-icon {
  padding: 19px 0px !important;
  display: block;
}

@media only screen and (min-width: 940px) {
  a.menu-icon {
    padding: 19px 0px !important;
    display: none;
  }
}

.sidebar-shop .widget-title a.no-after::after {
  display: none;
}

.modal-one,
.modal-two {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: auto;
  padding: 34px;
}

.mfp-wrap.mfp-ready .mfp-content {
  margin-top: 3rem;
}

.modal-one.show,
.modal-two.show {
  display: block !important;
}

textarea.form-control {
  min-height: 120px;
}

.custom-title {
  margin: 0;
  color: #21293c;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.custom-text {
  font-size: 1.2rem;
  line-height: 0.3rem !important;
}

.align-center {
  align-self: center;
}

.product-action a {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.icn-img {
  width: 36px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

/* .product-action .btn-add-cart {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  padding: 0 1rem;
  font: 1.4rem "Oswald", sans-serif;
  line-height: 32px;
  margin: 0 2px;
  cursor: pointer;
  transition: all 0.25s ease;
} */

/* .product-action .btn-icon-wish,
.product-default .btn-quickview {
  display: flex;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  margin: 0 2px;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.25s ease;
  transform: translateX(200%);
} */

.old-price-no-strike {
  text-decoration: none;
}

.product-action .btn-add-cart {
  padding: 1px 1rem;
}

.btn--close {
  width: 24px;
  z-index: 88;
  position: absolute;
  height: 24px;
  cursor: pointer;
  right: 10px;
  top: 2px;
  display: none;
  background: transparent;
  color: #777;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.thumb-col div:hover .btn--close {
  display: flex;
}

.modal-items-container {
  min-height: 200px;
  max-height: 60vh;
  overflow: auto;
  margin-top: 35px;
}

.modal-transaction-img {
  border-radius: 50%;
}

.toolbox select.form-control:not([size]):not([multiple]) {
  height: 34px;
}

.modal-product-title {
  color: #777;
  font-weight: 600;
  font-size: 1.8rem;
}

.modal-tra-name {
  color: #08c;
  font-weight: 600;
}

h2.modal-product-title span {
  font-weight: 400;
  font-size: 1.4rem;
  white-space: normal;
}

.modal-product-details {
  background: #f7f7f7;
}

.info-section-bg {
  background: url(../assets/images/money-ex.png), #f7f7f7;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 85% center;
}

.info-bg {
  background: url(../assets/images/credit.png), #f7f7f7;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 20% center;
}

@media only screen and (max-width: 650px) {
  .info-section-bg {
    background: #f7f7f7;
  }
}
@media only screen and (max-width: 460px) {
  .info-bg {
    background-position: 5% center;
  }
}

.currency {
  padding: 0 !important;
}

.small {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777;
}

.product-count {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 28px;
  width: 28px;
  background: #f7f7f7;
  border: 0.5px solid #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.product-default {
  position: relative;
}

.product-default .product--overlay {
  display: none;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.product-default .product--overlay {
  display: block;
}

.product-default:hover .product--overlay {
  background: rgba(0, 0, 0, 0.1);
}

#m-container {
  display: block;
}

.pr-label {
  width: 100%;
  font-size: 1.3rem !important;
  text-align: center;
}

.social-list {
  color: #08c;
  font-size: 3rem;
}

.product-title-small {
  font-size: 3rem;
}

@media only screen and (min-width: 566px) {
  .br-mobile {
    display: none;
  }
}

@media (max-width: 575px) {
  .product-action .btn-add-cart {
    width: auto;
  }
}

.rotated-container {
  height: 126%;
  width: 104%;
  transform: rotate(6deg) translate(-13%, -12%);
  background: transparent;
  transform-origin: 0% 100%;
  position: relative;
}

.bg-trans {
  height: 100%;
  width: 100%;
  /* background: url(../assets/images/sign-bg.png);
  background: #ceefff; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-con {
  position: relative;
  width: 70%;
}

.form-con .form-control {
  min-width: 100%;
}

.left-content {
  position: relative;
  background: linear-gradient(
      rgba(0, 136, 204, 0.789),
      rgba(0, 136, 204, 0.768)
    ),
    url(../assets/images/sign-bg.png);
  /* background: #08c; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mfp-container {
  height: 0;
}

/* @media only screen and (max-width: 991px) {
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 5%;
    padding-left: 5%;
  }
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
} */

.modal form .form-group {
  max-width: 100%;
}

.modal button.owl-dot {
  display: none;
}

.price-box span {
  width: auto;
  padding: 0 5% 0 0;
  margin: 0;
}

@media screen and (min-width: 992px) {
  .banner.banner-cat {
    height: 230px;
  }
}

.menu,
.menu * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.transaction .main-nav {
  padding: 0 0px;
}

.info-section {
  padding-top: 26px;
  background: #eee;
  padding-bottom: 20px;
  margin-top: 20px;
}

.info-section-colored {
  background: rgb(249, 249, 249);
}

.mobile-menu-toggler {
  margin-top: 8px;
}

small {
  /* font-family: poppins, "sans-serif"; */
}

.modal select.form-control-sm:not([size]):not([multiple]) {
  height: 4rem;
}

.small,
small {
  font-size: 90%;
}

.input-group-text {
  font-size: 1.5rem;
  padding: 0.375rem 1.5rem;
}

.catalogue .form-control {
  height: 3.4rem;
  font-family: "poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  position: relative;
}

.catalogue .input-group {
  max-width: 380px;
  margin-top: 5px;
}

.catalogue .form-control[readonly] {
  background-color: #ffffff;
  opacity: 1;
  position: relative;
}

@media only screen and (min-width: 700px) {
  .product-list figure {
    max-width: 330px !important;
  }
  .product-list .product-details {
    max-width: calc(100% - 350px);
  }
}

.info-section p {
  line-height: 1.7;
}

.feature-box {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.modal.modal-small .mfp-container .mfp-content,
.login-popup.mfp-wrap .mfp-content {
  max-width: 399px;
}
.modal.modal-select .mfp-container .mfp-content,
.login-popup.mfp-wrap .mfp-content {
  max-width: 599px;
}
.modal.modal-setup .mfp-container .mfp-content,
.login-popup.mfp-wrap .mfp-content {
  max-width: 659px;
}

.count-label {
  display: inline;
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 5px 10px;
  font-size: 1.4rem;
}

.antext {
  font-size: 1.5rem;
  font-weight: 400;
}

.cm {
  margin-top: 15px;
}

.modal-disp .card-body {
  min-height: 87px;
  position: relative;
}

.tick-success {
  position: absolute;
  bottom: 10px;
  right: 9px;
  height: 21px;
}

.table td,
.table th {
  padding: 1.45rem;
}

.custom-nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.custom-nav {
  width: 25%;
  position: relative;
  text-align: center;
}

.custom-nav-label {
  text-transform: uppercase;
  width: 100%;
  font-size: 1.1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
  background: #ccc;
  border-radius: 50%;
  width: 40px;
  position: relative;
  z-index: 4;
  font-size: 1.3rem;
}

.custom-nav:before {
  content: "";
  height: 2px;
  background: #ccc;
  top: 20px;
  left: 50%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.custom-nav-passed:before {
  background: #00c48c;
}
.custom-nav-passed + .custom-nav .icon-container {
  background: var(--yellow);
}
.custom-nav:last-child:before {
  display: none;
}

.custom-division div {
  width: 46%;
  border-bottom: 1px solid #fff;
}

.custom-division {
  padding: 2rem 0;
  opacity: 0.7;
}

.custom-division--large {
  padding: 1.5rem 0;
}
.custom-division--large div {
  border-bottom: 1px solid var(--dark);
}

.btn-custom {
  display: block;
  width: 100%;
}
.btn-cus {
  margin-top: 32px;
}

@media only screen and (min-width: 575px) {
  .btn-custom {
    display: inline-block;
    width: auto;
  }
  .btn-cus {
    margin-top: 0px !important;
  }
}

.modal-prompt .mfp-ajax-product.mfp-wrap .mfp-content,
.login-popup.mfp-wrap .mfp-content {
  /* max-width: 605px; */
}

.prompt-content {
  position: absolute;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.modal-sch .custom-control {
  margin-top: 0;
  margin-bottom: 0;
}

.product-default .product-label.label-sale {
  margin-top: 6px;
}

.form-footer .btn {
  margin-right: 0rem;
}

.form-footer {
  margin-bottom: 1rem;
}

.screen-height {
  min-height: auto;
  padding: 10vh 0;
}

@media only screen and (min-width: 767px) {
  .resp-statement {
    display: none;
  }
  .screen-height {
    min-height: 100vh;
  }
}

.form-control {
  border-bottom: 1px solid #838586;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 0;
  height: 4rem;
  font-size: 1.36rem;
  font-family: Poppins;
}

.form-control:focus {
  border-bottom: 2px solid #08c;
}

.modal .owl-carousel.owl-loaded {
  display: none;
}

.select-custom:after {
  right: 0rem;
}

@media only screen and (max-width: 480px) {
  .screen-short .btn {
    width: 100%;
  }
}
select.form-control:not([size]):not([multiple]) {
  height: 4rem;
}
.btn-resp-show {
  display: none;
}
@media only screen and (max-width: 767px) {
  .left-content {
    display: none;
  }

  .form-con {
    position: relative;
    width: 85%;
  }
  /* .screen-height {
    background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.568)),
      url(../assets/images/sign-bg.png);
    background-size: cover;
    background-position: center;
  } */
  /* .screen-height .form-control {
    background: transparent;
    color: #efefef;
  }
  .screen-height p,
  .screen-height h2,
  .screen-height label,
  .screen-height small {
    color: #fff;
  }

  .screen-height .select-custom:after {
    color: #fff;
  }

  .screen-height #passwordHelpInline {
    color: #fff !important;
  }

  .screen-height a#login {
    color: #fff !important;
    font-weight: bold;
  } */

  /* .screen-height option {
    color: #000;
  }

  .screen-height small {
    color: #000;
  }
  .screen-height .form-control {
    border-bottom: 1px solid #fff;
  }

  .screen-height .required-field > label:after {
    color: #fff;
  }

  .screen-height .form-control:focus {
    border-bottom: 2px solid #fff;
  }
  .screen-height .select-custom {
    background: transparent;
  }
  .btn-resp {
    display: none !important;
  }
  .btn-resp-show {
    display: inline-block;
  }
  .screen-height .screen-height small {
    color: #fff;
  } */
}

.screen-height .form-group {
  margin-bottom: 2rem;
}

.header-middle {
  padding: 1rem 0;
}

.toolbox .select-custom:after {
  right: 0rem;
}
.toolbox select.form-control:not([size]):not([multiple]) {
  padding-left: 0;
}
.product-details {
  position: relative;
}
.inner-quickview .category-wrap {
  width: 0%;
  position: absolute;
  right: 16px;
  top: 3px;
}

.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
  width: 200px;
}

.modal-two .owl-carousel.owl-loaded {
  display: block;
}

@media only screen and (max-width: 550px) {
  .btn-ch {
    width: 100%;
  }
}

.bg-success {
  background-color: #00c48c !important;
}

.text-cus-container {
  padding-left: 5.5rem;
}

.btn-cus-space {
  margin-right: 65px;
}

@media only screen and (max-width: 575px) {
  .btn-cus-space {
    margin-right: 0px;
    margin-left: 2.4rem;
  }
  .text-cus-container {
    padding-left: 3.5rem !important;
  }
}

.img-emp {
  width: 70%;
}

@media only screen and (max-width: 575px) {
  .img-emp {
    margin-bottom: 16px;
  }
}

.disc-content {
  font-size: 1.47rem;
}

.title {
  /* font-family: Poppins, sans-serif; */
}

.float-share {
  position: fixed;
  bottom: 40px;
  right: 2%;
  z-index: 29;
  max-width: 360px;
  max-height: 100vh;
}

.float-share.show {
  bottom: 10px;
}

#float-btn {
  float: right;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: --var(primary);
}

.float-share .inner-quickview figure .btn-quickview {
  visibility: visible;
  opacity: 1;
  position: relative;
  bottom: 62px;
  width: calc(100% - 30px);
  z-index: 83;
  left: 0;
  margin-left: 15px;
}

.product-item-share {
  position: relative;
}

.product-item-share p {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.float-inner {
  display: none;
}

.float-inner.show {
  display: block;
}

.float-share .product-default:hover figure {
  box-shadow: none;
}

@media only screen and (max-width: 620px) {
  .modal.modal-select .btn {
    width: 100%;
  }
}

.hide {
  display: none !important;
}

option {
  padding-left: 1rem;
}

hr {
  margin: 5.5rem auto 3.2rem;
}

.extra-info {
  display: none;
}

.extra-info.show {
  display: block;
}

.owl-dot {
  position: relative;
}

.close-btn {
  position: absolute;
  right: 5px;
  display: none;
  top: 3px;
  cursor: pointer;
}

.owl-dot:hover .close-btn {
  display: block;
}

span.at4-visually-hidden {
  display: none;
}

a.at-icon-wrapper.at-share-btn {
  padding: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.float-share .product-default {
  position: relative;
  max-width: 360px;
}

.float-share .figure {
  position: relative;
}

.float-share .owl-dot {
  display: none !important;
}

figure {
  position: relative;
}

.owl-nav {
  position: unset;
  z-index: 50;
  font-size: 2.4rem;
  bottom: 0;
}
.float-share .owl-nav button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.float-share .product-default:hover .owl-nav button {
  display: inline;
}

.float-share .owl-nav button.owl-prev {
  position: absolute;
  top: 200px;
  left: 8px;
  z-index: 55;
  transform: translateY(-50%);
}

.float-share .owl-nav button.owl-next {
  position: absolute;
  top: 200px;
  right: 8px;
  z-index: 55;
  transform: translateY(-50%);
}

.float-share .product-default figure img:first-child {
  padding: 15px;
}

@media only screen and (max-width: 360px) {
  .float-share {
    max-width: 100%;
  }
  .float-share.show {
    right: 0;
    bottom: 10px;
  }
}

.float-share .product-single-details .divider {
  border-top: 1px solid #e7e7e7;
  margin: 1rem 0;
}

.float-share .modal-items-container {
  min-height: 200px;
  max-height: 44vh;
  overflow: auto;
  margin-top: 35px;
}

.float-share .close-float {
  cursor: pointer;
}

.product-default .inner-icon .btn-icon {
  background-color: #fff;
  border-color: #ddd;
  color: black;
  visibility: visible;
  opacity: 1;
}

.inner-icon figure .btn-icon {
  background-color: #fff;
  border-color: #ddd;
  color: black;
  visibility: visible;
  opacity: 1;
}

.modal-prompt .container {
  padding-left: 0;
  padding-right: 0;
}

.modal-prompt .product-quick-view {
  background-color: #fff;
  padding: 0;
}

.profile-after-560 {
  display: none;
}
.profile-below-560 {
  display: block;
}
.btn-ext {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  .profile-after-560 {
    display: block;
  }
  .profile-below-560 {
    display: none;
  }
  .btn-ext {
    display: inline-block;
    width: auto;
  }
}

.user-wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-avatar {
  max-width: 50px;
  border-radius: 50%;
}

.avatar-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-cus-resp {
  width: 76%;
}

@media only screen and (min-width: 380px) {
  .btn-cus-resp {
    width: auto;
  }
}

.amount-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

hr.divider-cus {
  margin: 1.2rem 0;
}

.product-img {
  width: 100%;
}

.pro-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-content span,
.tiny-font {
  font-size: 1.5rem;
  color: #777;
  font-weight: 500;
}

.label-success {
  position: absolute;
  right: 0;
  bottom: 12px;
  padding: 5px 7px;
  background: #00c48c;
  font-size: 1.2rem;
}

.repayment-table {
  position: relative;
}

.repayment-table tr th {
  width: 25%;
  color: #000;
  height: 50px;
  line-height: 50px;
}

.repayment-table tr td {
  height: 50px;
  line-height: 50px;
}

.check {
  width: 26px;
  position: absolute;
  right: 0;
  bottom: -31px;
}

.info-paper {
  min-height: 150px;
}

.modal-transact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-img-transact-container {
  width: 340px;
  /* min-width: 340px; */
}

.modal-transact-content {
  width: calc(100% - 380px);
}
.modal-user-trasact-avatar-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-user-trasact-avatar-container .fas {
  font-size: 6rem;
  display: block;
}

@media only screen and (max-width: 578px) {
  .modal-transact-content {
    width: 100%;
    margin-top: 30px;
  }
  .modal-img-transact-container {
    width: 100%;
    max-width: 100%;
  }
  .modal-transact-container {
    display: block;
  }
  .modal-transact-content .btn {
    width: 100%;
  }
}

.modal-product-count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  background: white;
  top: -2px;
  right: -10px;
}

/* @media only screen and (min-width: 578px) {
  .cccc {
    max-width: 280px;
  }
}
@media only screen and (min-width: 640px) {
  .cccc {
    max-width: 400px;
  }
} */

.mod-avatar {
  max-width: 250px;
  min-width: 250px;
  border-radius: 50%;
}

.avatar-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 820px) {
  .mod-avatar {
    max-width: 180px;
    min-width: 180px;
  }

  .avatar-container {
    width: 180px;
    height: 180px;
  }
}

textarea.form-control {
  min-height: 41px;
}

.abs-btn {
  bottom: 12px;
  position: absolute;
  right: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

.modal.edit .owl-carousel.owl-loaded {
  display: block;
}

.nav-scr-right {
  position: absolute;
  right: -28px;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.8rem;
  cursor: pointer;
}

.nav-scr-left {
  position: absolute;
  left: -28px;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.8rem;
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  .nav-scr-right {
    right: -18px;
  }
  .nav-scr-left {
    left: -18px;
  }
  .no-resp .nav-scr-right {
    right: -30px;
  }
  .no-resp .nav-scr-left {
    left: -30px;
  }
}

.modal-thumb-item {
  position: relative;
}

.modal-thumb-item .btn--close {
  top: 5px;
  right: 5px;
  position: absolute;
}

.btn-custom {
  font-size: 1rem;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.catalogue-prod-left,
.catalogue-prod-right {
  font-size: 2.6rem;
  cursor: pointer;
}

.slide-nav-right {
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 33;
}

.slide-nav-left {
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 33;
}

.modal .owl-carousel.prev-slider {
  display: block;
}

.category-list {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  opacity: 0.8;
  text-transform: uppercase;
}
.product-title {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: #222529;
  max-width: 100%;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0.005em;
  margin-bottom: 0.72rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-title a {
  color: #222529;
}

.product-description {
  display: -webkit-box;
  max-width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  margin-bottom: 1em;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn-copy {
  margin-top: 16px;
}

.cata-item .btn {
  width: 100%;
  display: block;
}
.btn-share {
  margin-right: 0rem;
}
.btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 7px;
  font-size: 1.5rem;
  right: 7px;
}

@media only screen and (min-width: 618px) {
  .btn-copy {
    margin-top: 0;
  }
  .btn-share {
    margin-right: 1rem;
  }
  .cata-item .btn {
    width: auto;
  }
}

.big-price {
  font-size: 2rem;
}

.onboard {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboard-title {
  font-size: 2.6rem;
}

.copy-container {
  width: 100%;
}

.onboard-content {
  display: none;
}

.onboard-content.show {
  display: block;
  width: 90%;
}

@media only screen and (min-width: 700px) {
  .onboard-content {
    /* min-width: 653px; */
    max-width: 653px;
  }
  .input-wrap {
    min-width: 653px;
    /* height: 60px;
    border-radius: 50%; */
  }
}

.copy-container {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.image-input-container {
  height: 268px;
  width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
  color: #efefef;
}

#img {
  display: none;
}

.sel-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.modal-product:hover .sel-btn {
  display: block;
}

.select-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.select-overlay.show {
  display: block;
}

.sel-label {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}
.add-img-btn {
  display: block;
}

@media only screen and (min-width: 460px) {
  .add-img-btn {
    display: inline-block;
  }
}

.back-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.category-slider {
  max-height: 50vh;
  overflow: auto;
}

.nav-scr-right--adjust {
  right: -35px;
}
.nav-scr-left--adjust {
  left: -35px;
}

/* @media only screen and (max-width: 640px) { */
.back-btn {
  position: absolute;
}

/* } */

@media only screen and (max-height: 700px) {
  .added-space {
    padding-top: 8rem;
  }
}

.prod-img-container {
  max-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  min-width: 130px;
  min-height: 130px;
  margin: 1rem;
}

@media only screen and (min-width: 700px) {
  /* .cus-title {
    max-width: 200px;
  } */
}

.btn-orange {
  background: var(--orange);
  /* color: #fff; */
}

.d-price {
  color: #222529;
  font-size: 1.7rem;
  line-height: 0.8;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

.icon-cus .fas {
  font-size: 2.8rem;
}

.more-section {
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
  z-index: 44;
}

.dash-item {
  width: 47%;
}

.img-pr {
  margin-top: 2rem;
}

@media only screen and (min-width: 575px) {
  .img-pr {
    margin-top: 0rem;
  }
}
.po-menu {
  right: 0;
  top: 0;
  position: absolute;
}
.menu-list-cus {
  position: relative;
  top: 30px;
  right: 0;
  min-width: 150px;
}
.menu-list-cus-hover {
  color: var(--gray);
}

.menu-list-cus-hover:hover {
  background: #eee;
  color: var(--primary);
}

.big-icon-cart {
  font-size: 12rem;
  color: var(--primary);
}

.number-el {
  height: 30px;
  width: 30px;
  margin-bottom: 0.7rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.left-navigate {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  z-index: 33;
  left: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.right-navigate {
  position: absolute;
  cursor: pointer;
  top: 50%;
  font-size: 3rem;
  z-index: 33;
  right: 2rem;
  transform: translateY(-50%);
}

.tra-item {
  width: 94%;
}

@media only screen and (min-width: 575px) {
  .tra-item {
    width: 46%;
  }
}
